.present object.silverlight {
    display: inline-block;
    margin-top: 110px;
}

object.silverlight {
    display: none;
}

section img.noborder {
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    border: none;
    box-shadow: none;
}

input, select, button {
    font-size: 100%;
}

.reveal section h1 {
    text-shadow: 0px 0px 12px rgba(0, 2, 2, 1), 0px 0px 6px rgba(0, 2, 2, 1), 0px 0px 4px rgba(0, 2, 2, 1), 0px 0px 2px rgba(0, 2, 2, 1);
}

.reveal section div.questions-link {
    color: grey;
    text-align: left;
}

.reveal section div.link-label {
    width: 420px;
    margin: 0 5px 0 0;
    text-align: right;
    display: inline-block;
}

.reveal section code {
    font-size: 130%;
    line-height: 1.2em;
}

    .reveal section code.angular {
        border-left-width: 20px;
        border-left-style: solid;
        border-left-color: red;
    }

    .reveal section code.silverlight {
        border-left-width: 20px;
        border-left-style: solid;
        border-left-color: lightblue;
    }

.reveal section a.block-link {
    display: block;
}

.status-ok {
    color: green;
}

.status-error {
    color: red;
    -webkit-transform: rotate(-45deg);
}

.insult-generator {
    text-align: left;
}

    .insult-generator .label {
        width: 6em;
        margin: .2em;
        display: inline-block;
        font-style: italic;
        text-align: right;
    }

    .insult-generator select {
        width: 70%;
        margin: .2em;
    }

    .insult-generator button {
        width: 6em;
        margin: .2em;
        vertical-align: top;
        font-weight: bold;
    }

    .insult-generator .insult-container {
        margin: .2em;
        width: 70%;
        font-size: 100%;
        display: inline-block;
    }

    .insult-generator .insult {
        width: 100%;
        font-size: 150%;
        font-weight: bold;
    }
