.present object.silverlight {
    display: inline-block;
    margin-top: 110px;
}

object.silverlight {
    display: none;
}

section img.noborder {
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    border: none;
    box-shadow: none;
}

input {
    font-size: 100%;
}

.reveal section code {
    font-size: 130%;
    line-height: 1.2em;
}

.reveal section code.angular {
    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: red;
}

.reveal section code.silverlight {
    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: lightblue;
}

.status-ok {
    color: green;
}

.status-error {
    color: red;
    -moz-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    -webkit-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotating {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
