.present object.silverlight {
    display: inline-block;
    margin-top: 110px;
}

object.silverlight {
    display: none;
}

section img.noborder {
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    border: none;
    box-shadow: none;
}

input {
    font-size: 100%;
}

.reveal section code {
    font-size: 130%;
    line-height: 1.2em;
}

.reveal section code.angular {
    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: red;
}

.reveal section code.silverlight {
    border-left-width: 20px;
    border-left-style: solid;
    border-left-color: lightblue;
}

.status-ok {
    color: green;
}

.status-error {
    color: red;
    -webkit-transform: rotate(-45deg);
}
