<!doctype html>
<html ng-app="codemash2014" lang="en">
<head>
    <meta charset="utf-8">
    <title>Windows to Web - AngularJS for XAML developers</title>
    <meta name="description" content="AngularJS for XAML developers">
    <meta name="author" content="Jeff Yates">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/reveal.min.css" />
    <link rel="stylesheet" href="/css/theme/default.css" id="theme" />
    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="/lib/css/vs.css" />
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="/css/print/' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="codemash.css" />
</head>
<body>
    <div class="reveal">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <section data-background-color="#104070">
                <section>
                    <h1>Windows to Web</h1>
                    <h3>AngularJS for XAML developers</h3>
                    <p>
                        <small><a href="http://blog.somewhatabstract.com">Jeff Yates</a> / <a href="http://blog.somewhatabstract.com">blog.somewhatabstract.com</a> / <a href="http://twitter.com/jefftunes">@jefftunes</a></small>
                    </p>
                    <p>
                        <a href="http://www.careevolution.com"><img src='assets/careevlogo.jpg' /></a>
                    </p>
                    <aside class="notes">
                        <ul>
                            <li>Introduce myself</li>
                            <li>Mention who I work for and what I do</li>
                            <li>Explain talk</li>
                            <li>Ask who is familiar with Silverlight or Angular</li>
                        </ul>
                    </aside>
                </section>
                <section>
                    <div>
                        <div style="width:100%;background-color:darkslategray"><p>12 years</p></div>
                        <div class='fragment roll-in' style='float: left; width: 92%; background-color: #4B95FF; margin-right: 1%'><p style='padding: 2em 0 2em 0; -webkit-transform: rotate(-90deg); '>Windows</p></div>
                        <div class='fragment roll-in' style='float: right; width: 7%; background-color: #72E185; '><p style='padding: 2em 0 2em 0; -webkit-transform: rotate(-90deg); '>Web</p></div>
                    </div>
                    <aside class="notes">
                        <ul>
                            <li>Explain my background in context this talk</li>
                            <li>Worked in motorsport 5 years (C++, COM, ATL, WTL)</li>
                            <li>Worked in engine diagnostic tools 5/6 years (C#, .NET, WinForms)</li>
                            <li>Side projects; timesheet entry using Silverlight to end-of-line testers and diagnostic tools using WPF</li>
                            <li>CMMI process improvement, team lead, etc.</li>
                            <li>Most recently, Health Information Exchange (C#,ASP.NET MVC, WebForms, AngularJS, jQuery, JavaScript, HTML, CSS)</li>
                            <li>12 years windows, then changed to web development</li>
                            <li>--Next slide for line--</li>
                        </ul>
                    </aside>
                </section>
                <section>
                    <img src='assets/rv-f1.jpg' style="width:100%" />
                    <aside class="notes">
                        <ul>
                            <li>Felt like the RV in this picture.</li>
                            <li>Similar baggage, just not tuned for the job.</li>
                        </ul>
                    </aside>
                </section>
            </section>

            <section data-background="#FFFFFF">
                <section>
                    <img src="assets/silverlight-logo.png" class="noborder" style="min-width: 100%;" />
                    <aside class="notes">
                        <ul>
                            <li>Knew a little client-side web development;  mostly Silverlight and a little JS/HTML/CSS</li>
                            <li>Silverlight is .NET runtime plugin</li>
                            <li>Plug-in cross platform (PC and Mac), in and out of web browsers</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <img src="assets/angularjs.jpeg" class="noborder" style="min-width: 100%;" />
                    <aside class="notes">
                        <ul>
                            <li>New job used AngularJS for client-side</li>
                            <li>development framework from Google</li>
                            <li>Javascript/HTML/CSS</li>
                            <li>I knew value converters, controls and resources; not filters, directives and CSS</li>
                            <li>(transition as saying): I knew the concepts but we were talking different languages.</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <img src="assets/languagebarrier.png" style="min-height:100%" />
                    <aside class="notes">
                        <ul>
                            <li>Needed to look for a way to translate between Angular and what I knew</li>
                            <li>Took lots of effort then, but written an app to help today</li>
                            <li>SHOW SILVERLIGHT APP</li>
                        </ul>
                    </aside>
                </section>
            </section>

            <section data-background="#203030">
                <section data-background="assets/Application.jpg">
                    <h1>Application</h1>
                    <aside class="notes">
                        <ul>
                            <li>Every framework has boilerplate to assimilate an application</li>
                            <li>Let's take a look</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>Silverlight</h2>
                    <pre><code ng-non-bindable class="silverlight" data-trim>
&lt;Application xmlns=&quot;http://schemas.microsoft.com/winfx/2006/xaml/presentation&quot;
         xmlns:x=&quot;http://schemas.microsoft.com/winfx/2006/xaml&quot; 
         x:Class=&quot;HelloWorld.App&quot;&gt;
&lt;/Application&gt;
</code></pre>
<pre><code ng-non-bindable class="silverlight cs" data-trim>
namespace HelloWorld
{
  public partial class App : System.Windows.Application
  {
    public App()
    {
      this.Startup +=
        (sender, e) => this.RootVisual = new TextBlock() { FontSize = 24, Text = "Hello World" };
      InitializeComponent();
    }
  }
}
</code></pre>
<pre><code ng-non-bindable class="silverlight" data-trim>
&lt;object data=&quot;data:application/x-silverlight-2,&quot; width=&quot;100%&quot; type=&quot;application/x-silverlight-2&quot;&gt;
    &lt;param name=&quot;source&quot; value=&quot;Bin/Debug/HelloWorld.xap&quot;/&gt;
&lt;/object&gt;
</code></pre>
                    <aside class="notes">
                        <ul>
                            <li>Bare minimum</li>
                            <li>Application declaration</li>
                            <li>Code-behind</li>
                            <li>HTML to embed plugin (in-browser)</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>Angular</h2>
                    <pre><code ng-non-bindable class="angular" data-trim>
&lt;html ng-app&gt;
    &lt;head&gt;
        &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        Hello World
    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
                    <aside class="notes">
                        <ul>
                            <li>ng-app declaration</li>
                            <li>Since HTML, not required just for Hello World (neither is Silverlight)</li>
                            <li>Contents of ng-app element are RootVisual</li>
                            <li>Scipts in head element are DLL references</li>
                            <li>CSS is like resources</li>
                        </ul>
                    </aside>
                </section>
            </section>

            <section data-background="#D0D0D0">
                <section data-background="assets/DataBinding.jpg">
                    <h1 style="color: #101010">Data Binding</h1>
                </section>

                <section>
                    <pre><code class='silverlight'>&lt;StackPanel x:Name=&quot;LayoutRoot&quot;&gt;
  &lt;TextBox x:Name=&quot;textStuff&quot; /&gt;
  &lt;TextBlock Text=&quot;{Binding ElementName=textStuff, Path=Text}&quot; /&gt;
&lt;/StackPanel&gt;</code></pre>
                    <pre class="fragment"><code class='angular' ng-non-bindable>&lt;div ng-app&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
  &lt;div&gt;Hello {{textStuff}}&lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <aside ng-non-bindable class="notes">
                        <p>This is a bit of familiar Silverlight, a textbox bound to a textblock. Simple data binding.</p>
                        <p>2nd fragment: Let's see that in Angular.</p>
                        <p>Note here that ngBind can be used instead of moustaches but is essentially equivalent (can be useful if not wanting to see bind expression when page is loading - also consider ngCloak).</p>
                    </aside>
                </section>

                <section>
                    <pre><code class='angular' ng-non-bindable contenteditable>&lt;div ng-app&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
  &lt;div&gt;Hello {{textStuff}}&lt;/div&gt;
&lt;/div&gt;</code></pre>
                    <div ng-controller="bindingDemoCtrl">
                        <input ng-model="textStuff" />
                        <div style="color: #101010">Hello {{textStuff}}</div>
                        <input class="fragment" ng-model="textStuff" />
                    </div>

                    <aside class="notes">
                        <p>Breaking it down. The ng-model directive is telling the textbox what value it is bound to. To present that value, we use the double braces syntax.</p>
                        <p>Two way binding works too. Just add another input.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class='silverlight' contenteditable>&lt;StackPanel x:Name=&quot;LayoutRoot&quot;&gt;
  &lt;TextBox x:Name=&quot;textStuff&quot; /&gt;
  &lt;TextBlock Text=&quot;{Binding ElementName=textStuff, Path=Text}&quot; /&gt;
  &lt;TextBox Text=&quot;{Binding ElementName=textStuff, Path=Text}&quot; /&gt;
&lt;/StackPanel&gt;</code></pre>
                    <pre class="fragment"><code class='angular' ng-non-bindable>&lt;div ng-app&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
  &lt;div&gt;Hello {{textStuff}}&lt;/div&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
&lt;/div&gt;</code></pre>

                    <aside class="notes">
                        <p>Comparing this with Silverlight, you can see a difference. In Silverlight as it is here, we are binding to one of the two textboxes. In Angular, the bindings are two way and bind to a model.</p>
                        <p>
                            Usually, we would bind to a value in a model specified via the data context. This would also need at the very least, INotifyPropertyChanged so
                            that changes could be tracked and bindings updated. Angular creates this model for us, including the ability to watch for changes.
                        </p>
                        <p>However, we can also implement the concept of a data context in Angular to get finer control over our model.</p>
                        <p>In fact, you probably noticed there's a default value here; "World" - that requires code behind.</p>
                    </aside>
                </section>
            </section>

            <section data-background="#107040">
                <section data-background="assets/CodeBehind.jpg">
                    <h1>Code-behind</h1>
                </section>

                <section>
                    <div>
                        <pre><code class='silverlight' ng-non-bindable>&lt;UserControl x:Class="HelloWorld.MainPage"&gt;
...
              </code></pre>
                        <pre class="fragment"><code class='angular' ng-non-bindable>&lt;div ng-app='myApp' ng-controller='myController'&gt;
  ...</code></pre>
                    </div>

                    <aside class="notes">
                        <p>Just like Silverlight, the code-behind has to be associated with the presentation layer.</p>
                        <p>In Silverlight, this is done by specifying the XAP that implements the app and the x:Class attribute that indicates the class that contains the code.</p>
                        <p>
                            In Angular, the ng-app directive needs a name to specify the angular module that contains the code
                            and there has to be an ng-controller to specify the actual code to control the decorated element.
                        </p>
                        <p>The controller and app module do not need to be specified on the same line. This is just for brevity. There can be more than one controller per app.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class='silverlight' ng-non-bindable>namespace HelloWorld
{
  public partial class MainPage : UserControl
  {
    ...
              </code></pre>
                    <pre class="fragment"><code class="javascript angular" ng-non-bindable>var myApp = angular.module('myApp', []);
myApp.controller('myController', function ($scope) {
  ...
</code></pre>

                    <aside class="notes">
                        <p>In Silverlight (and other similar .NET frameworks), the namespace and class identify the actual code-behind.</p>
                        <p>In Angular, the app name specifies the module and the controller specifies the actual code inside that module.</p>
                        <p>Consider the module to be the assembly/namespace and the controller to be the class name.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class='angular' ng-non-bindable>&lt;div ng-app='myApp' ng-controller='myController'&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
  &lt;div&gt;Hello {{textStuff}}&lt;/div&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
&lt;/div&gt;</code></pre>
                    <pre class="fragment"><code class="javascript angular" ng-non-bindable>var myApp = angular.module(&#39;myApp&#39;, []);
myApp.controller(&#39;myController&#39;, function ($scope) {
  $scope.textStuff = &#39;World&#39;;
});</code></pre>

                    <aside class="notes">
                        <p>Here's the full Angular app for our earlier data binding demo with two textboxes.</p>
                        <p>Note the [] in the module declaration. This is where additional modules can be injected so that they can be referenced, much like adding references to a Silverlight project.</p>
                        <p>The $scope value of the controller is injected by Angular and is the model that bindings reference. Other things can be injected here too, such as things from the referenced modules.</p>
                        <p>More on that later. Back to binding - this time collections.</p>
                    </aside>
                </section>
            </section>

            <section data-background="#806040">
                <section data-background="assets/ValueConverters.jpg">
                    <h1>Value Converters</h1>

                    <aside class="notes">
                        <p>
                            If you've written any serious XAML application, you've used value converters. Usually, to take a value from a data model and modify it for the presentation,
                            such as changing the case of a string, formatting the decimal places on a number, turning a boolean value into a visibility value, or an enumeration into a color.
                        </p>
                        <p>
                            In Angular, just as in Silverlight, there is more than one way to do this, and in fact,
                            those last two items we will look at later, but for the other situations, we use filters.
                        </p>
                        <p>With there being a limited built-in set, you're going to need to write your own. So let's do that.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class="cs silverlight">public class ReverseStringConverter : IValueConverter
{
  public object Convert( object value, Type targetType, object parameter, CultureInfo culture )
  {
    return new String(value.ToString().Reverse());
  }
  public object ConvertBack( object value, Type targetType, object parameter, CultureInfo culture )
  {
    throw new NotImplementedException();
  }
}</code></pre>
                    <pre class="fragment"><code class="javascript angular">module('myApp').filter('reverse', function() {
  return function (value){
    return value.split("").reverse().join("");
  };
});</code></pre>
                    <aside class="notes">
                        <p>If we wanted to reverse a string, we could add a converter to do this in Silverlight.</p>
                        <p>Writing an Angular filter for this is somewhat similar. Note there is no ConvertBack equivalent. A filter is just a oneway conversion method.</p>
                        <p>Another concept exists for converting from the view back to the model, which we'll look at later.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class='silverlight'>&lt;StackPanel x:Name=&quot;LayoutRoot&quot;&gt;
  &lt;StackPanel.Resources&gt;
    &lt;myApp:ReverseStringConverter x:Name=&quot;ReverseStringConverter&quot; /&gt;
  &lt;/StackPanel.Resources&gt;
  &lt;TextBox x:Name=&quot;textStuff&quot; /&gt;
  &lt;TextBlock Text=&quot;{Binding ElementName=textStuff, Path=Text, Converter={StaticResource ReverseStringConverter}}&quot; /&gt;
&lt;/StackPanel&gt;</code></pre>
                    <pre class="fragment"><code class='angular' ng-non-bindable>&lt;div ng-app&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
  &lt;div&gt;{{textStuff | reverse}}&lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <aside class="notes">
                        <p>In Silverlight, we create an instance of the converter and then add it to our binding..</p>
                        <p>In Angular, we don't need to create an instance as it already exists within the Angular code, so we just use it.</p>
                        <p>Touch on parsers. Talk about how they're less common (refer to how often anyone actually implements the ConvertBack method of IValueConverter</p>
                    </aside>
                </section>

                <section>
                    <div ng-controller="reverseCtrl">
                        <input ng-model="stringToReverse" />
                        <div>{{stringToReverse | reverse}}</div>
                    </div>

                    <aside class="notes">
                        <p>Type "dlroW olleH" and other examples as required</p>
                    </aside>

                </section>

                <section>
                    <pre><code class='angular' ng-non-bindable>&lt;div ng-app&gt;
  &lt;input ng-model=&quot;textStuff&quot; /&gt;
  &lt;div&gt;{{textStuff | reverse | uppercase}}&lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <div class="fragment" ng-controller="reverseCtrl">
                        <input ng-model="stringToReverse" />
                        <div>{{stringToReverse | reverse | uppercase}}</div>
                    </div>

                    <aside class="notes">
                        <p>Filters can be chained.</p>
                    </aside>
                </section>
            </section>

            <section data-background="#E06090">
                <!-- Use E06090 for power rangers, or C0A040 for pooh -->
                <section data-background="assets/DataBindingCollections2.jpg">
                    <h1>Data Binding Collections</h1>
                    <aside class="notes">
                        <p>Now that we've looked at bindings, code-behind and filters (value converters), let's look at more complex use of these things to bind to collections.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class='silverlight' ng-non-bindable>&lt;ItemsControl x:Name=&quot;List&quot;&gt;
  &lt;ItemsControl.ItemTemplate&gt;
    &lt;DataTemplate&gt;
      &lt;TextBlock Text=&quot;{Binding}&quot;&gt;&lt;/TextBlock&gt;
    &lt;/DataTemplate&gt;
  &lt;/ItemsControl.ItemTemplate&gt;
&lt;/ItemsControl&gt;</code></pre>
                    <pre class="fragment"><code class='angular' ng-non-bindable>&lt;div ng-repeat=&quot;name in names&quot;&gt;
  &lt;p&gt;{{name}}&lt;/p&gt;
&lt;/div&gt;</code></pre>

                    <aside class="notes">
                        <p>In Silverlight, we can have controls that show a sequence of items, repeating a template for each item.</p>
                        <p>ng-repeat performs this task in Angular.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class="cs silverlight" ng-non-bindable>List.ItemsSource = new[] { "Leprechaun", "Unicorn", "Bacon" }</code></pre>
                    <pre class="fragment"><code ng-non-bindable class="javascript angular">$scope.names = [ 'Leprechaun', 'Unicorn', 'Bacon'];</code></pre>

                    <aside class="notes"></aside>
                </section>

                <section>
                    <div ng-controller="collectionBindingCtrl">
                        <div ng-repeat="name in names"><p>{{name}}</p></div>
                    </div>

                    <aside class="notes">
                        <p>
                            Not particularly exciting and these things are not ordered, and perhaps we want to find one of them quickly,
                            because the list is super long, so let's add some sorting and filtering.
                        </p>
                    </aside>
                </section>

                <section>
                    <h2>Sorting and filtering</h2>
                    <pre><code class="cs silverlight" ng-non-bindable>var collectionView = new CollectionViewSource();
collectionView.Source = new[] { &quot;Leprechaun&quot;, &quot;Unicorn&quot;, &quot;Bacon&quot; };
collectionView.View.SortDescriptions.Add(
  new SortDescription { Direction = ListSortDirection.Descending } );
collectionView.View.Filter =
  o =&gt; String.IsNullOrEmpty( CriteriaTextBox.Text )
      || ( (string)o ).Contains( CriteriaTextBox.Text );
    
List.ItemsSource = collectionView.View;
CriteriaTextBox.TextChanged +=
  (sender, args) => ((ICollectionView)List.ItemsSource).Refresh();</code></pre>
                    <pre class="fragment"><code class='angular' ng-non-bindable>&lt;div ng-controller=&quot;myController&quot;&gt;
  &lt;input ng-model=&quot;criteria&quot;/&gt;
  &lt;div ng-repeat=&quot;name in names | filter:criteria | orderBy:&#39;-toString()&#39;&quot;&gt;
    &lt;p&gt;{{name}}&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                    <aside class="notes">
                        <p>XAML not shown here but all we've done is add a text box for entering a filter value.</p>
                        <p>Here in the code, we've used it's value to filter a collection view and also its TextChanged event to refresh the collection source.</p>
                        <p>In the Angular, things look a bit different. Unlike Silverlight, it's all done in the presentation code; no code-behind required.</p>
                        <p>Instead of modifying a collection, we filter it through filters.</p>
                        <p>The first filter applies our search term, the second orders the values in descending order.</p>
                        <p>
                            But wait, these filters are different than the ones we looked at earlier. Rather than converting a value, these
                            filters are modifying a collection. Rather like LINQ. In fact, there are two types of filters; those that act on individual values
                            like Value Converters and those that act on collections, like LINQ operators.
                        </p>
                        <p>
                            There are two types of filter and we
                            I liken that type of filter to LINQ operators in the .NET world; they take sequences and convert them to different sequences.
                            The second type of filter takes a single value and transforms it to a different value. These are more akin to ValueConverters
                            and the StringFormat property on bindings.
                        </p>
                        <p>There are three built-in LINQ-style filters: limitTo, filter, orderBy</p>
                        <p>And  built-in value converter-style filters: date, currency, uppercase, lowercase, json, number </p>
                    </aside>
                </section>

                <section>
                    <div ng-controller="collectionBindingCtrl">
                        <input ng-model="criteria" />
                        <div ng-repeat="name in names | filter:criteria | orderBy:'-toString()'">
                            <p>{{name}}</p>
                        </div>
                    </div>

                    <aside class="notes">
                        <p>And there we have it, a sorted and filtered list of items.</p>
                    </aside>
                </section>
            </section>

            <section data-background="#701000">
                <section data-background="assets/Style.jpg">
                    <h1>Style</h1>

                    <aside class="notes">
                        <p>So far, we've looked at how we get data into our view, but what about controlling when and how it appears?</p>
                        <p>In Silverlight, we set the Visibility of an item. In Angular, we can do a number of things.</p>
                        <ul>
                            <li>Use ng-class to set a conditional style that changes the display css to none or not</li>
                            <li>Use ng-show or ng-hide</li>
                            <li>Use ng-if</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <pre><code class='silverlight' contenteditable>&lt;StackPanel x:Name=&quot;LayoutRoot&quot; Background=&quot;White&quot;&gt;
  &lt;CheckBox
    IsChecked=&quot;{Binding IsHelloWorldVisible, Mode=TwoWay}&quot;&gt;Show&lt;/CheckBox&gt;
  &lt;TextBlock Text=&quot;SURPRISE!!!&quot;
    Visibility=&quot;{Binding IsHelloWorldVisible, Converter={StaticResource VisibilityConverter}}&quot; /&gt;
&lt;/StackPanel&gt;</code></pre>

                    <pre class="fragment"><code class='angular' contenteditable ng-non-bindable>&lt;div ng-controller=&quot;MyController&quot;&gt;
  &lt;input type=&quot;checkbox&quot; ng-model=&quot;isShowingSurprise&quot; /&gt;
  &lt;div ng-show=&quot;isShowingSurprise&quot;&gt;SURPRISE!&lt;/div&gt;
&lt;/div&gt;</code></pre>

                    <div class="fragment" ng-controller="presentationBindingCtrl">
                        <input type="checkbox" ng-model="isShowingSurprise" name="showSurpriseCheck" />
                        <label for="showSurpriseCheck">Show</label>
                        <div ng-show="isShowingSurprise">SURPRISE!</div>
                        <div class="fragment" ng-hide="isShowingSurprise">No surprise :(</div>
                    </div>

                    <aside class="notes">
                        <p>Controlling Visibility is a common task in Silverlight. We add and remove things using Visiblity.Collapsed and Visiblity.Visible (and Visiblity.Hidden if we include WPF)</p>
                        <p>
                            A simple example would be to bind a checkbox to the visiblity of another control. Of course, simple means writing:
                            <ul>
                                <li>A boolean-to-visibility value converter</li>
                                <li>A data model with INotifyPropertyChanged</li>
                            </ul>
                            But let's assume we've got all that.
                        </p>
                        <p>In Angular, we can achieve this in a number of ways. The simplest uses ng-show, as in this example (next fragment)</p>
                        <p>There is also ng-hide. So, we could edit this to add something that shows in the opposite circumstance. This is equivalent to !ng-show.</p>
                        <p><strong>Edit to add div ng-hide="isShowingSurprise" No Surprise :(</strong></p>
                        <p>ng-hide and ng-show manipulate the display CSS style based on a condition.</p>
                        <p>But we could also use ng-if, which is different in that the element doesn't even get included if the condition is not met. (show ng-if in editor)</p>
                        <p>Finally, we could use ng-class or ng-style to apply a specific CSS style based on bound conditions.</p>
                    </aside>
                </section>

                <section>
                    <pre><code class='silverlight' ng-non-binadble>&lt;CheckBox IsChecked=&quot;{Binding HasError, Mode=TwoWay}&quot;&gt;Has Error&lt;/CheckBox&gt;
&lt;TextBlock Text=&quot;Some status message&quot;
  Foreground=&quot;{Binding HasError, Converter={StaticResource ErrorColorConverter}}&quot; /&gt;
</code></pre>
                    <pre class="fragment"><code class='angular' ng-non-bindable>&lt;input type=&quot;checkbox&quot; ng-model=&quot;hasError&quot; name=&quot;isErrorRadio&quot; /&gt;
&lt;label for=&quot;isErrorRadio&quot;&gt;Has Error&lt;/label&gt;
&lt;div ng-style=&quot;{color: hasError ? &#39;red&#39; : &#39;green&#39;}&quot;&gt;Some status message&lt;/div&gt;</code></pre>

                    <div class="fragment" ng-controller="presentationBindingCtrl">
                        <input type="checkbox" ng-model="hasError" name="isErrorRadio" />
                        <label for="isErrorRadio">Has Error</label>
                        <div ng-style="{color: hasError ? 'red' : 'green'}">Some status message</div>
                    </div>

                    <aside class="notes">
                        <p>Other presentation changes tend to involve colours, borders, etc. For this, ng-class is the thing to use.</p>
                        <p>
                            While in Silverlight, we can use styles, templates and bindings to
                            individual properties like FontSize to change control appearance, depending on the scenario.
                            In Angular, since we're building on top of HTML, we use CSS (cascading style sheets) and the ng-class and ng-style directives.
                            To confuse things slightly, what we call styles in XAML, we would call classes in CSS. Styles in CSS are the individual properties within a class.
                        </p>
                        <p>
                            Here we have a simple binding for text color.
                            It's just for illustrative purposes so the code isn't particularly nice, but it does the job for our purposes.
                        </p>
                    </aside>
                </section>

                <section>
                    <pre><code class="cs silverlight">public object Convert( object value, Type targetType, object param, CultureInfo culture )
{
  return (bool) value ? new SolidColorBrush(Colors.Red) :
              new SolidColorBrush(Colors.Green);
}</code></pre>
                    <pre class="fragment"><code class='angular' contenteditable>ng-style="{color: hasError ? 'red' : 'green'}"</code></pre>

                    <aside class="notes">
                        <p>We have a value converter for Silverlight that converts a bool to a color.</p>
                        <p>In Angular we have this...</p>
                        <p>Note this is better as it moves our style into the presentation instead of the code-behind</p>
                        <p>Of course, we could create scope values for the colors.</p>
                        <p>Or we could delegate the color selection to a method.</p>
                        <p>Or we could write a filter.</p>
                        <p>Show some examples in code edits</p>
                        <p>
                            However, usually, we won't manipulate individual properties like this. Instead, we would apply a Style or Template
                            in Silverlight and either use a ValueConverter to pick the right one or the VisualStateManager and VisualStates, or a CSS class in Angular.
                        </p>
                    </aside>
                </section>

                <section>
                    <pre><code ng-non-bindable class='angular'>&lt;div ng-class=&quot;{ 'status-error': hasError, 'status-ok': !hasError }&quot;&gt;
  Totally different status message
&lt;/div&gt;</code></pre>
                    <pre><code class="css angular" contenteditable>.status-ok {
  color: green; }
.status-error {
  color: red; }</code></pre>

                    <div class="fragment" ng-controller="presentationBindingCtrl">
                        <input type="checkbox" ng-model="hasError" name="isErrorRadio" />
                        <label for="isErrorRadio">Has Error</label>
                        <div ng-class="{ 'status-error': hasError, 'status-ok': !hasError }">Totally different status message</div>
                    </div>

                    <aside class="notes">
                        <p>
                            Similar to ngStyle, ngClass provides a mechanism for adding and removing styles based on conditions.
                        </p>
                        <p>
                            IN Silverlight, changing the style based on the data usually means data-bindings similar to what we had before but inside the style (so we can
                            reuse it elsewhere on other controls), or some sort of resource look-up value converter that returns a style resource based on the
                            value in our model.

                            For Angular, we can just do this.
                        </p>
                        <p>
                            Here we have just the message portion from before.
                            THe ng-class directive takes an object where the name of the properties is the style name and the value is a binding (or constant) that
                            determines when that style should be applied.
                        </p>
                        <p>
                            Of course, just changing the color is boring and you've seen that already, and we're using styles now so we can easily change some more stuff
                            fit without changing the logic. So, let's grab the user's attention with something like.

                            <div>
                                Add the following to error style - make sure this matches what actually happens so smoke and mirrors occurs.

                                <textarea rows="12" cols="60">
                                    ;
                                    -webkit-transform: rotate(-45deg);
                                </textarea>
                            </div>

                            Let's see this in action.
                        </p>
                        <p>All of this can, of course, be much more complex than the examples I've shown here.</p>
                    </aside>
                </section>
            </section>

            <section data-background="#B0A070">
                <section data-background="assets/Controls.jpg">
                    <h1>Controls</h1>

                    <aside class="notes">
                        <p>
                            So, we've looked at some of the basic building blocks to making an Angular application and these will take you pretty far,
                            but now you want to encapsulate a particular piece of funcationality so you can reuse it somewhere else or to tidy up
                            your code so your colleagues won't want to kill you as they try to review it.
                        </p>
                        <p>
                            In Silverlight, this is achieved using user controls and controls (or derivatives thereof). One could consider the inline
                            examples we've seen as user controls, even though many might exist within a single HTML file. Each div has a controller associated
                            with it that indicates the code-behind for that section. However, they are all in a single HTML file and that's messy.
                        </p>
                        <p>
                            To encapsulate these elsewhere, we use directives. Directives are a way of extending HTML to add behavior and presentation.
                            We've already seen a few such as ngClass, ngStyle and ngController and we can leverage this feature to encapsulate our cool components for reuse.
                        </p>
                    </aside>
                </section>

                <section>

                    <pre><code ng-non-bindable class='silverlight'>&lt;Style TargetType=&quot;myApp:StatusMessage&quot;&gt;
  &lt;Setter Property=&quot;Template&quot;&gt;
    &lt;Setter.Value&gt;
      &lt;ControlTemplate TargetType=&quot;myApp:StatusMessage&quot;&gt;
        &lt;TextBlock Text=&quot;Our status message&quot;/&gt;
      &lt;/ControlTemplate&gt;
    &lt;/Setter.Value&gt;
  &lt;/Setter&gt;
&lt;/Style&gt;</code></pre>
                    <pre><code ng-non-bindable class="cs silverlight">public class StatusMessage : Control
{
  public StatusMessage()
  {
    this.DefaultStyleKey = typeof(StatusMessage);
  }
}</code></pre>
                    <pre class="fragment"><code ng-non-bindable contenteditable class="javascript angular">module(&#39;myApp&#39;).directive(&#39;statusMessage&#39;, function() {
  return {
    template: &#39;&lt;div&gt;Our status message&lt;/div&gt;&#39;,
    restrict: &#39;E&#39;
  };
});</code></pre>
                    <aside class="notes">
                        <p>
                            Here's our Silverlight control.
                            <ul>
                                <li>A default style that sets up the control template (usually in Generic.xaml)</li>
                                <li>Some code to indicate the default style</li>
                            </ul>
                        </p>
                        <p>
                            And here is our Angular equivalent.
                        </p>

                        <p>
                            Explain restrict.
                            <div>Options are EACM (Element/Attribute/Class/Comment).</div>
                            <ul>
                                <li>E when wanting a new control</li>
                                <li>A when attaching new behavior to a specific element</li>
                                <li>C when extending an existing class with new behavior</li>
                                <li>Don't use M - it exists for legacy reasons</li>
                            </ul>

                            Tend to use A as it is supported in most browsers.
                        </p>

                        <p>Show templateUrl instead of template. More akin to how Silverlight does things.</p>
                    </aside>
                </section>

                <section>
                    <pre><code ng-non-bindable class="silverlight">&lt;myApp:StatusMessage /&gt;</code></pre>
                    <pre ng-non-bindable><code class='angular' contenteditable>&lt;status-message /&gt;</code></pre>

                    <div class="fragment">
                        <status-message-simple />
                    </div>

                    <aside class="notes">
                        <p>And this is how we use it.</p>
                        <p>Show how we might use if restriction were A, C or M</p>
                        <p>Show it working.</p>
                        <p>This isn't particularly useful. We should be able to change the text, for example, or indicate that it's an error message.</p>
                    </aside>
                </section>

                <section>
                    <h2>Dependency Properties</h2>

                    <pre><code ng-non-bindable class='silverlight'>&lt;ControlTemplate TargetType=&quot;myApp:StatusMessage&quot;&gt;
  &lt;TextBlock Text=&quot;Our status message&quot;/&gt;
&lt;/ControlTemplate&gt;</code></pre>

                    <pre><code ng-non-bindable class="cs silverlight">public static readonly DependencyProperty MessageProperty =
  DependencyProperty.Register( &quot;Message&quot;,
                 typeof ( string ),
                 typeof ( StatusMessage ),
                 new PropertyMetadata( default( string ) ) );
public string Message
{
  get { return (string) GetValue( MessageProperty ); }
  set { SetValue( MessageProperty, value ); }
}</code></pre>
                    <pre ng-non-bindable class="fragment"><code class="javascript angular">codemash2014.directive(&#39;statusMessage&#39;, function() {
  return {
    template: &#39;&lt;div&gt;{{message}}&lt;/div&gt;&#39;,
    restrict: &#39;E&#39;,
    scope: { message: &#39;@&#39; }
  };
});</code></pre>

                    <aside class="notes">
                        <p>In Silverlight, we pass data using dependency properties.</p>
                        <p>In Angular, we do very similar things to pass values, but they are declared in the directive a little differently.</p>
                        <p>
                            There is a lot more nuance to scope than I'm showing here and I highly recommend reading up on this as well as attending Brian Genisio's talk
                            on Directives Demystified as this can get pretty complicated. To make it easy on myself, I'm going to skirt around the complexities, but please be aware
                            that you need to learn more about scope if you're going to work with directives.
                        </p>
                        <p>
                            <ul>
                                <li>@: attribute binding - OneWay</li>
                                <li>=: two way binding</li>
                                <li>&amp;: pass a callback</li>
                            </ul>
                        </p>
                    </aside>
                </section>

                <section>
                    <pre><code class='silverlight' ng-non-bindable>&lt;myApp:StatusMessage Message=&quot;Now THIS is a status message. Exciting!&quot; /&gt;</code></pre>
                    <pre><code class="angular" ng-non-bindable>&lt;status-message message=&quot;Now THIS is a status message. Exciting!&quot; /&gt;</code></pre>

                    <div class="fragment">
                        <status-message message="Now THIS is a status message. Exciting!" />
                    </div>
                </section>

                <section>
                    <h2>Code Reuse</h2>
                    <pre><code class='silverlight' ng-non-bindable>&lt;CheckBox IsChecked=&quot;{Binding HasError, Mode=TwoWay}&quot;&gt;Show&lt;/CheckBox&gt;
&lt;myApp:StatusMessage x:Name=&quot;MessageTextBlock&quot; Message=&quot;Look at this brilliant text!&quot; /&gt;</code></pre>
                    <pre class="fragment"><code class="silverlight" ng-non-bindable>&lt;StackPanel.Resources&gt;
  &lt;Color x:Key=&quot;ErrorColor&quot;&gt;Red&lt;/Color&gt;
  &lt;Color x:Key=&quot;OkColor&quot;&gt;Green&lt;/Color&gt;
&lt;/StackPanel.Resources&gt;</code></pre>

                    <pre class="fragment"><code class="silverlight" ng-non-bindable>&lt;VisualStateManager.VisualStateGroups&gt;
  &lt;VisualStateGroup x:Name=&quot;CommonStates&quot;&gt;
    &lt;VisualState x:Name=&quot;Error&quot;&gt;
      &lt;Storyboard&gt;
        &lt;ColorAnimation To=&quot;{StaticResource ErrorColor}&quot; Duration=&quot;0:00:00&quot; Storyboard.TargetName=&quot;MessageTextBlock&quot; Storyboard.TargetProperty=&quot;(TextBlock.Foreground).(SolidColorBrush.Color)&quot; /&gt;
      &lt;/Storyboard&gt;
    &lt;/VisualState&gt;
    &lt;VisualState x:Name=&quot;Normal&quot;&gt;
      &lt;Storyboard&gt;
        &lt;ColorAnimation To=&quot;{StaticResource OkColor}&quot; Duration=&quot;0:00:00&quot; Storyboard.TargetName=&quot;MessageTextBlock&quot; Storyboard.TargetProperty=&quot;(TextBlock.Foreground).(SolidColorBrush.Color)&quot; /&gt;
      &lt;/Storyboard&gt;
    &lt;/VisualState&gt;
  &lt;/VisualStateGroup&gt;
&lt;/VisualStateManager.VisualStateGroups&gt;</code></pre>

                    <pre class="fragment"><code class="cs silverlight" ng-non-bindable>VisualStateManager.GoToState( this, &quot;Error&quot;, true );</code></pre>

                    <aside class="notes">
                        <p>
                            Often, we want to reuse useful bits of code or use code someone else has written.
                            <ul>
                                <li>Might use a DI framework like Unity</li>
                                <li>Might pass in interface via property</li>
                                <li>Might reference an assembly and just use its types directly</li>
                            </ul>

                            <ul>
                                <li>Angular provides DI</li>
                                <li>Referenced modules are checked for named dependencies</li>
                                <li>$scope is an example (note, newer versions make $scope unnecessary for our scenarios)</li>
                                <li>Define available things using providers</li>
                                <li>angular.controller, angular.directive and angular.filter are all providers we've used</li>
                                <li>Those mainly provide things to modify the presentation stuff</li>
                                <li>There are others provided for code reuse and data access</li>
                            </ul>

                            <ul>
                                <li>Consider value converters in bindings</li>
                                <li>We reference them by resource key</li>
                                <li>
                                    Instead of ErrorColorConverter in Silverlight
                                    <ul>
                                        <li>Define colors separately for use elsewhere and want to use them throughout our app</li>
                                        <li>Could use VisualStates to specify what state the control is in</li>
                                        <li>Could reference the colors from static resources</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </aside>
                </section>

                <section>
                    <pre><code class="silverlight" ng-non-bindable>&lt;StackPanel.Resources&gt;
  &lt;Color x:Key=&quot;ErrorColor&quot;&gt;Red&lt;/Color&gt;
  &lt;Color x:Key=&quot;OkColor&quot;&gt;Green&lt;/Color&gt;
&lt;/StackPanel.Resources&gt;</code></pre>

                    <pre class="fragment"><code class="angular" ng-non-bindable>myApp.value('errorColor', 'red');
myApp.value('okColor', 'green');</code></pre>

                    <aside class="notes">
                        <p>
                            angular.value injects the value it was defined with.
                        </p>
                    </aside>
                </section>

                <section>
                    TODO: Show these things used in a directive.

                    <div class="fragment" ng-controller="colorBindingCtrl">
                        <input type="checkbox" ng-model="hasError" name="isErrorRadio" />
                        <label for="isErrorRadio">Has Error</label>
                        <div ng-style="{color: getTextColor(hasError)}">Some status message</div>
                    </div>

                    <aside class="notes">
                        <p>
                            angular.service will inject an instance of the defined function, angular.factory will inject the result of the defined function, and angular.value injects
                            the value it was defined with.
                        </p>
                        <p>Now that we've defined our various utilities and values, let's use them in our directive.</p>
                    </aside>
                </section>
            </section>

            <section>
                <section>
                    <h2>Shakespearean Insult Generator</h2>
                    <insult-generator />
                </section>
            </section>

            <section>
                <section>
                    <h1>Conclusion</h1>

                    TODO: Mention if you want to learn about ng-transclude/ContentControls, you need to see Brian's talk

                    <aside class="notes">
                        <p>
                            We've looked at some of the more common elements of Silverlight and other XAML-based frameworks and seen how we might achieve the same thing using
                            AngularJS, HTML and CSS. So, let's return to our Silverlight app I showed at the start and see that in AngularJS using the concepts we've learned.
                        </p>
                    </aside>
                </section>

                <section>
                    <img src="assets/silverlight-logo.png" class="noborder" style="min-width: 75%;" />
                    <h1>VS</h1>
                    <img src="assets/angularjs.jpeg" class="noborder" style="min-width: 75%;" />

                    <aside class="notes">
                        <p>I knew good reasons to use a framework like Angular over Silverlight</p>
                        <ul>
                            <li>No need for HTML bridge as we're already in HTML</li>
                            <li>Cross-platform support, not just PC and Mac (and WP7, if you compile specifically for that platform)</li>
                            <li>No plugin required - just use JavaScript</li>
                            <li>Well supported and in active development</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h1>Links</h1>
                    <ul>
                        <li>AngularJS</li>
                        <li>Batarang</li>
                        <li>karma</li>
                        <li>revealJS</li>
                        <li>presentation on GitHub</li>
                        <li>Egghead.io</li>
                        <li>Side waffle</li>
                    </ul>
                </section>

                <section>
                    <h1>Questions</h1>
                    2. Use visual states example earlier
                    3. More visual corrolations especially borrowing off Britishness
                    7. Be clearer on which technology I am talking about
                    9. Use class as Silverlight corollary to service in Angular
                    10. Practise code edits
                </section>
            </section>
        </div>
    </div>
    <script src="/lib/js/head.min.js"></script>
    <script src="/js/reveal.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/presentation.js"></script>
    <script>

        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: false,
            progress: true,
            history: true,
            center: true,
            width: 1280,
            height: 768,
            backgroundTransition: "slide",

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

            // Optional libraries used to extend on reveal.js
            dependencies: [
           { src: '/lib/js/classList.js', condition: function() { return !document.body.classList; } },
           { src: '/plugin/markdown/marked.js', condition: function() { return !!document.querySelector('[data-markdown]'); } },
           { src: '/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector('[data-markdown]'); } },
           { src: '/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
           { src: '/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
           { src: '/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
            ]
        });

    </script>
</body>
</html>
